@model Azure_Demo_2.ViewModels.ContactModel
@{
    ViewBag.Title="Contacts";
}
<!doctype html>
<html lang="">
  <head>
      <meta charset="utf-8" />
      <title>@ViewBag.Title</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!-- Place favicon.ico in the root directory -->
  </head>
  <body>
      <h1>Contact Page</h1>
      <div>Name: @Model.Name</div>
      <div>Age: @Model.Age</div>
      <div>Dob: @Model.Dob</div>
  </body>
</html>




